<template>
    <div v-if="!isHelloWorldShown">
        <Login></Login>
    </div>
    <div v-else>
        <HelloWorld></HelloWorld>
    </div>
</template>
<script>
    import { mapGetters } from 'vuex';
    import Login from './components/Login';
    import HelloWorld from './components/HelloWorld';
    export default {
        components: {
            HelloWorld,
            Login,
        },
        data() {
            return {
                isHelloWorldShown: false,
            };
        },

        computed: {
            isUserLoggedIn() {
                return this.getLoginState;
            },
            ...mapGetters(['getLoginState']),
        },

        watch: {
            isUserLoggedIn(newVal) {
                if (newVal === true) {
                    this.isHelloWorldShown = true;
                } else {
                    console.log('something went wrong');
                }
            },
        },
    };
</script>

<style lang="scss"></style>
