<template>
    <div>
        <div class="demo" @click="attachRed = !attachRed" :class="divClass"></div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                attachRed: false,
            };
        },
        computed: {
            divClass() {
                return {
                    red: this.attachRed,
                    blue: !this.attachRed,
                };
            },
        },
    };
</script>
<style scoped>
    .demo {
        width: 100px;
        height: 100px;
        background-color: gray;
        display: inline-block;
        margin: 10px;
    }
    .red {
        background-color: red;
    }
    .green {
        background-color: green;
    }
    .blue {
        background-color: blue;
    }
</style>
