<template>
    <div>
        <h2>Hello im the child component</h2>
        <input type="text" v-model="emitmessage" placeholder="Send a message from child" />
        <button @click="emit()">Emit</button>
        <p>{{ text }}</p>
    </div>
</template>

<script>
    export default {
        props: ['text'],
        data() {
            return {
                emitmessage: '',
            };
        },
        methods: {
            emit() {
                this.$emit('receive', 'asdasd');
            },
        },
    };
</script>

<style></style>
