<template>
    <div>
        <input type="text" v-model="search" placeholder="kereses" />
        <thead v-rainbow>
            <tr v-rainbow>
                <th>#</th>
                <th>Country</th>
                <th>Country Code</th>
                <th>Date</th>
                <th>New Confirmed</th>
                <th>New Recovered</th>
                <th>Total Confirmed</th>
                <th>Total Deaths</th>
                <th>Total Recovered</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(stat, index) in stats" :key="index" @click="details(stat.Slug)">
                <td>{{ stat.Country }}</td>
                <td>{{ stat.CountryCode }}</td>
                <td>{{ stat.Date }}</td>
                <td>{{ stat.NewConfirmed }}</td>
                <td>{{ stat.NewRecovered }}</td>
                <td>{{ stat.TotalConfirmed }}</td>
                <td>{{ stat.TotalDeaths }}</td>
                <td>{{ stat.TotalRecovered }}</td>
                <td>{{ stat.Slug }}</td>
            </tr>
        </tbody>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                search: '',
            };
        },
        created() {
            this.$store.dispatch('getCovid');
        },
        methods: {
            details(Slug) {
                this.$store.dispatch('getDetailsByCode', Slug).then(() => {
                    this.$router.push({
                        path: '/coviddetails',
                    });
                });
            },
        },
        computed: {
            stats() {
                return this.$store.getters.covid;
            },
            filteredStats() {
                return this.stats.filter((stat) => {
                    return stat.Country.match(this.search);
                });
            },
        },
    };
</script>
<style></style>
