<template>
    <div>
        <button @click="back()">Back to covid</button>
        <pre> {{ details }}</pre>
    </div>
</template>
<script>
    export default {
        components: {},
        created() {},

        computed: {
            details() {
                console.log(this.$store.getters);
                return this.$store.getters.details;
            },
        },

        methods: {
            back() {
                this.$router.push({
                    path: '/covidstats',
                });
            },
        },
    };
</script>
<style scoped></style>
