<template>
    <div>
        <h1 v-rainbow>{{ justatext }}</h1>
        <h2 v-rainbow>{{ justatext }}</h2>
        <h3 v-rainbow>{{ justatext }}</h3>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                justatext: 'Random color',
            };
        },
    };
</script>

<style></style>
