<template>
    <div>
        <div class="demo" @click="attachRed = !attachRed" :class="[color, { red: attachRed }]" :style="myStyle"></div>
        <input type="text" placeholder="Type something" v-model="color" />
        <input type="number" placeholder="size..in px" v-model="width" />
        <input type="number" placeholder="size.. in px" v-model="height" />
    </div>
</template>
<script>
    export default {
        data() {
            return {
                attachRed: false,
                color: 'blue',
                width: 100,
                height: 100,
            };
        },
        computed: {
            myStyle() {
                return {
                    width: this.width + 'px',
                    height: this.height + 'px',
                };
            },
        },
    };
</script>
<style scoped>
    .demo {
        width: 100px;
        height: 100px;
        background-color: gray;
        display: inline-block;
        margin: 10px;
    }
    .red {
        background-color: red;
    }
    .green {
        background-color: green;
    }
    .blue {
        background-color: blue;
    }
</style>
