<template>
    <div><button @click="fetch">Fetch</button></div>
</template>

<script>
    export default {
        methods: {
            fetch() {
                fetch('http://example.com/movies.json')
                    .then((response) => response.json())
                    .then((data) => console.log(data));
            },
        },
    };
</script>

<style></style>
