<template>
    <div>
        <button @click="getLocation">Click here to get location</button>
        <hr />
        <p>Your location</p>
        <p>Latitude:{{ latitude }}</p>
        <p>Longitude:{{ longitude }}</p>
        <hr />
        <input v-model="newCoordinates.latitude" placeholder="Add latitude" />
        <input v-model="newCoordinates.longitude" placeholder="Add longitude" />
        <button @click="compare">Compare</button>
        <p>Your distance from this location:{{ result }}meters</p>
    </div>
</template>

<script>
    import VueGeolocation from 'vue-browser-geolocation';
    import haversine from 'haversine-distance';
    import Vue from 'vue';
    Vue.use(VueGeolocation);
    export default {
        data() {
            return {
                newCoordinates: {
                    latitude: '',
                    longitude: '',
                },
                mylocation: '',
                latitude: '',
                longitude: '',
                result: '',
            };
        },
        methods: {
            getLocation() {
                this.$getLocation().then((coordinates) => {
                    this.mylocation = coordinates;
                    this.latitude = coordinates.lat;
                    this.longitude = coordinates.lng;
                });
            },
            compare() {
                if (this.newCoordinates) {
                    this.result = haversine(this.newCoordinates, this.mylocation);
                } else {
                    console.log('please insert coordinates');
                }
            },
        },
    };
</script>

<style></style>
