<template>
    <div id="card">
        <v-card class="mx-auto" tile>
            <v-list dense>
                <v-subheader>myworks</v-subheader>
                <v-list-item> <router-link to="vueonline">Vue-online prop</router-link></v-list-item>
                <v-list-item> <router-link to="Promise">Promise/AsyncAwait</router-link></v-list-item>
                <v-list-item> <router-link to="geolocation">Geolocation</router-link></v-list-item>
                <v-list-item> <router-link to="todo">ToDo</router-link></v-list-item>
                <v-list-item> <router-link to="refs">Refs</router-link></v-list-item>
                <v-list-item> <router-link to="cssgrid">CssGrid-vuetify</router-link></v-list-item>
                <v-list-item> <router-link to="fetch">Fetch</router-link></v-list-item>
                <v-list-item> <router-link to="bindstyle">Bind a style</router-link></v-list-item>
                <v-list-item> <router-link to="inputcolor">DynamicColor</router-link></v-list-item>
                <v-list-item> <router-link to="dynamicsize">DynamicSize</router-link></v-list-item>
                <v-list-item> <router-link to="parent">Parent</router-link></v-list-item>
                <v-list-item> <router-link to="child">Child</router-link></v-list-item>
                <v-list-item> <router-link to="home">Emit</router-link></v-list-item>
                <v-list-item> <router-link to="home">Props</router-link></v-list-item>
                <v-list-item> <router-link to="slots">Slots</router-link></v-list-item>
                <v-list-item> <router-link to="customdirective">Custom directives</router-link></v-list-item>
                <v-list-item> <router-link to="nest">NestComponent</router-link></v-list-item>
                <v-list-item> <router-link to="mixins">Mixins</router-link></v-list-item>
                <v-list-item> <router-link to="home">Class constructor</router-link></v-list-item>
                <v-list-item> <router-link to="home">Switch</router-link></v-list-item>
                <v-list-item> <router-link to="home">Service workers</router-link></v-list-item>
                <v-list-item> <router-link to="covidstats">Covid statics</router-link></v-list-item>
            </v-list>

            <router-view></router-view>
        </v-card>
    </div>
</template>

<script>
    export default {
        name: 'HelloWorld',

        data: () => ({}),
    };
</script>
<style scoped>
    #card {
        margin-left: 33%;
        margin-top: 5%;
        width: 600px;
        height: 100%;
    }
</style>
