<template>
    <div>
        <div class="demo" @click="attachRed = !attachRed" :class="[color, { red: attachRed }]"></div>
        <input placeholder="type something.." type="text" v-model="color" />
    </div>
</template>
<script>
    export default {
        data() {
            return {
                attachRed: false,
                color: 'blue',
            };
        },
    };
</script>
<style scoped>
    .demo {
        width: 100px;
        height: 100px;
        background-color: gray;
        display: inline-block;
        margin: 10px;
    }
    .red {
        background-color: red;
    }
    .green {
        background-color: green;
    }
    .blue {
        background-color: blue;
    }
</style>
