<template>
    <div id="main">
        <v-form ref="form" v-model="valid" lazy-validation>
            <v-text-field v-model="credentials.email" label="E-mail" required></v-text-field>
            <v-text-field v-model="credentials.password" type="password" label="Password" required></v-text-field>

            <v-btn id="loginbtn" class="mr-4" @click="login">
                Login
            </v-btn>
            <p id="errormessage" v-if="isUnaut">Invalid e-mail or password</p>
        </v-form>
    </div>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex';

    export default {
        data: () => ({
            valid: true,

            credentials: {
                email: '',

                password: '',
            },
        }),

        methods: {
            login() {
                this.sendCredentials(this.credentials);
            },

            ...mapActions(['sendCredentials']),
        },
        computed: {
            ...mapGetters(['getUserState']),

            isUnaut() {
                return this.getUserState;
            },
        },
    };
</script>

<style>
    #main {
        width: 500px;
        margin-left: 37%;
        margin-top: 10%;
    }
    #loginbtn {
        margin-left: 30%;
        width: 200px;
        margin-top: 8%;
        color: crimson;
    }
    #errormessage {
        color: red;
        margin-top: 5%;
        margin-left: 33%;
    }
</style>
