<template>
    <div>
        <div v-if="!$online">
            Opps! You are offline!
        </div>
        <div v-if="$online">
            You are online
        </div>
    </div>
</template>

<script>
    import VueOnlineProp from 'vue-online-prop';
    import Vue from 'vue';
    Vue.use(VueOnlineProp);
    export default {};
</script>

<style></style>
