<template>
    <div>
        <h1>Hello im the parent</h1>
        <Child @receive="showEmitMessage" :text="message">
            <h3>This is a slot title</h3>
        </Child>
        <nest></nest>
    </div>
</template>

<script>
    import Child from './Child.vue';

    export default {
        components: { Child },

        data() {
            return {
                message: 'hello from parent component',
            };
        },
        methods: {
            showEmitMessage() {
                console.log('emit');
            },
        },
    };
</script>

<style></style>
