<template>
    <div>
        <p>Promise</p>
        <h1>{{ s }}:{{ ms }}ms</h1>

        <button @click="PromiseRequest()">Promise</button>
        <hr />
        <p>Async await</p>
        <h1>{{ s1 }}:{{ ms1 }}ms</h1>
        <button @click="request()">Async Await</button>
    </div>
</template>

<script>
    import axios from 'axios';
    export default {
        data() {
            return {
                ms: 0,
                s: 0,

                timer: '',
                ms1: 0,
                s1: 0,

                timer1: '',
            };
        },
        methods: {
            start() {
                this.timer = setInterval(this.run, 10);
            },
            stop() {
                clearInterval(this.timer);
            },
            start1() {
                this.timer1 = setInterval(this.run1, 10);
            },
            stop1() {
                clearInterval(this.timer1);
            },
            run() {
                this.ms++;
                if (this.ms == 100) {
                    this.ms = 0;
                    this.s++;
                }
            },
            run1() {
                this.ms1++;
                if (this.ms1 == 100) {
                    this.ms1 = 0;
                    this.s1++;
                }
            },
            PromiseRequest() {
                this.start();

                axios

                    .get('https://api.covid19api.com/summary')

                    .then((response) => {
                        console.log('promise', response);
                        this.stop();
                    })
                    .catch((err) => console.log(err));
            },
            async request() {
                this.start1();
                let response = await axios

                    .get('https://api.covid19api.com/summary')

                    .then((result) => {
                        console.log('async await', result);
                        response = result;
                    });
                this.stop1();
                return response;
            },
        },
    };
</script>

<style></style>
