<template>
    <div>
        <input placeholder="type something.." type="text" ref="input" />
        <button @click="readRefs">readRefs</button>
        <hr />
        <button @click="refTest">RefTEST</button>
        <p>Your fav food: {{ output }}</p>
        <div ref="test">hello</div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                output: 'valami',
            };
        },
        methods: {
            readRefs() {
                console.log(this.$refs.input.value);
                this.output = this.$refs.input.value;
            },
            refTest() {
                console.log(this.$refs.test.innerHTML);
                this.output = this.$refs.input.value;
            },
        },
        computed: {},
    };
</script>

<style></style>
