<template>
    <div>
        <h1>Slots</h1>
        <Slothelper>
            <p>{{ title }}</p>
        </Slothelper>
    </div>
</template>

<script>
    import Slothelper from './Slothelper';
    export default {
        data() {
            return {
                title: 'Dynamic data for slot',
            };
        },
        components: {
            Slothelper,
        },
    };
</script>

<style></style>
