<template>
    <div>
        <h1>Valami palesztin duma egy jsonbol</h1>
        <button @click="getTasks">Get tasks</button>
        <div v-if="isResponse">
            <tr v-for="task in tasks" :key="task.id">
                <th>{{ task.title }}</th>

                <td>{{ task.completed }} <input type="checkbox" :checked="task.completed" /></td>
            </tr>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {};
        },
        computed: {
            tasks: function() {
                return this.$store.getters.tasks;
            },
            isResponse: function() {
                return this.$store.getters.getResponseValue;
            },
        },

        methods: {
            getTasks() {
                this.$store.dispatch('getTasks');
                console.log(this.isResponse);
            },
        },
    };
</script>
